/dist/
/build/
/cached/
/GIS/
/Logs/
/Outputs/
/__pycache__/
/data/climdiv/
/data/ghcn_cache/
/data/pdsi_cache/
/data/nwm_cache/
*.pyc
*.dll
*.pickle
*.log
*.json
!url_manifest.json
*.pdf
*.nc
!wimp_data.nc
*.kml
ula_accepted
*historic*.csv
*STATS*.csv